.msg {padding: 20px; border-bottom: 2px solid #e1e1e1; background: #fcfcfc; font-weight: 600; text-align: center;}
.msg.ok {border-color: #6ca763; background: #e6f0e6; color: #6ca763;}
.content-box > .msg {margin: 0;}
.checkout .main .msg {margin: 30px 0;}